@model IEnumerable<NT_Project.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "form-inline" }))
{
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-top:10px;">AddPost</button>
}
    <table class="table">
        @foreach (var item in Model)
        {
            <tr style="boder:1px">
                <td style="boder:1px">
                    <header>
                        @Html.DisplayFor(modelItem => item.name)

                    </header>
                    <p>
                        @Html.DisplayFor(modelItem => item.post_message)
                    </p>
                    <br />
                    <p>
                        @Html.DisplayFor(modelItem => item.post_date)
                    </p>
                    <br />
                    @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-top:10px;">AddComment</button>
                    }
                </td>
            </tr>
        }
        
